<html>
<head>
    <title>client1</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <script>
        function test () {
            var token = document.getElementById("accessToken").value;

            console.log(token);

            axios.get('http://localhost:8090/private', {
                headers: {
                    Authorization: 'Bearer ' + token
                }
            })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
               console.log(error);
            });
        }
    </script>
    <a href="http://localhost:8091/sso"><span>login</span></a>
    <br/>
    <input type="text" id="accessToken">
    <a href="#" onclick="test()">test</a>
</body>
</html>